$base-dark: #453523;
$base-accent: #F7DF02;
$base-secondary: #9C9386;
$base-light: #EAE3C9;
$base-jazz: rgba(210, 46, 41, 0.75);
$base-cat: rgba(247, 144, 30, 0.75);
$base-comedy: rgba(77, 109, 180, 0.75);


html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 60px;
    background-color: $base-light;
    color: $base-dark;

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Semibold", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

header {
    padding: 0;
    background-color: $base-accent;
    border-bottom: 1px solid $base-secondary;

    ul#nav-elements li {
        cursor: pointer;
    }
}

main {
    padding: 20px 1rem;
    text-align: center;

    div#content {
        margin: 0 auto; // may not be needed
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $base-accent;
    border-top: 1px solid $base-secondary;
}

.container {
    margin: 0;
    padding: 0 5%;
    min-width: 100%;

    @media (max-width: 767.98px) {
        padding: 0;
    }
}

nav.navbar {
    img {
        max-height: 75px;
        padding: 10px 0px;
        margin-right: 20px;    
    }

    span.navbar-brand.h1 {
        font-size: 2.5rem;
        margin-bottom: 0;

        span.jazz {
            color: $base-jazz;
        }

        span.cat {
            color: $base-cat;
        }

        span.com {
            color: $base-comedy;
        }
    }
}

input[type=text], input[type=email], input[type=password], input[type=submit], button {
    padding: 6px 12px;
    border-radius: .25rem;
    box-sizing: border-box;
    max-width: 100%;
    vertical-align: middle;

    &:not(input[type=submit]):not(button) {
        width: 120px;
        border: 0;
    }
}

form#sesssion-control {
    display: flex;
    align-items: center;
}

button.im-feeling {
    height: 50px;
    width: 150px;
    font-weight: bold;
    color: $base-light;

    &#feeling-jazzy {
        background-color: $base-jazz;
    }

    &#feeling-catty {
        background-color: $base-cat;
    }

    &#feeling-jokey {
        background-color: $base-comedy;
    }
}

div.resource-container {
    max-width: 90vh;
    max-height: 50vh;
    margin: 0 auto;

    img {
        max-width: 100%;
        max-height: 50vh;
    }
}

// check what this is for
label {
    font-weight: bold;
}